body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(32, 32, 32);
  color: rgb(255, 255, 255);
}

hr {
  height: 1px;
  width: 100%;
  border: 1px solid transparent;
  background-color: rgb(68, 68, 68);
}

form {
  margin: 0.5rem 0;
}

#loader {
  display: none;
  border: 10px solid rgb(68, 68, 68);
  border-top: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  align-self: center;
  animation: spin 1s linear infinite;
  margin: 0.5rem 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#video_container {
  display: none;
  flex-direction: column;
  position: relative;
  width: 70vw !important;
  margin: 0.5rem 0;
}

#metadata {
  display: flex;
  flex-direction: row;
  align-self: left;
  margin: 0.5rem 0;
}

#metadata > .metadata_item {
  margin: 0 0.3rem;
  background-color: beige;
  color: black;
  font: 1em bold;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

#video_container > #description {
  align-self: left;
  margin-left: 0.5rem;
  font-size: medium;
}

video {
  width: 100%;
  height: 40vw;
}

footer {
  margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  video {
    height: auto;
  }
  #video_container {
    width: 100% !important;
  }
}