name: Label PRs

on:
- pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: srvaroa/labeler@master
      with:
          config_path: .github/labeler_config.yml
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"